name: build

on:
  push:
    branches:
      - main

  pull_request:

  merge_group:

  schedule:
    - cron: '0 1 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@ac2d21e9667686230ec7c2d94aa98eb0e56be3d6 # v3.14.36
        with:
          save-cache: true

      - name: lint
        run: pnpm lint

  build:
    needs:
      - lint
    runs-on: ${{ matrix.arch.os }}
    name: build (${{ matrix.arch.name }})

    permissions:
      contents: write

    strategy:
      fail-fast: false
      matrix:
        arch:
          - name: x86_64
            os: ubuntu-24.04
          - name: aarch64
            os: ubuntu-24.04-arm

    env:
      ARCH: ${{ matrix.arch.name }} # build target, name required by binary-builder

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: binary-builder
        uses: containerbase/internal-tools@ac2d21e9667686230ec7c2d94aa98eb0e56be3d6 # v3.14.36
        with:
          command: binary-builder
          dry-run: ${{github.ref_name != 'main'}}
          token: ${{ secrets.GITHUB_TOKEN }}

  success:
    runs-on: ubuntu-24.04
    needs:
      - lint
      - build
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled build
        if: |
          needs.build.result == 'failure' ||
          needs.build.result == 'cancelled'
        run: exit 1
      - name: Fail for failed or cancelled lint
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'cancelled'
        run: exit 1
